[md-header-picture] {
    position: relative;
    width: 100%;
    height: 0%;
    /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 25%;
    overflow: hidden;
    background-size: 80%;
    /* You can override this value if your picture has a weird ratio */
    background-position: 50% 50%;
}

[md-header-title]{

    color: white;

}
[scroll] {
    position: absolute;
    top: 0;
    overflow: hidden;
}

/* I made a simple scale animation on float action button during scroll */

.main-fab {
    position: absolute;
    left: calc(100% - 90px);
    z-index: 20;
    transform: scale(1, 1);
    transition: transform .5s ease-out;
}
.mainMenu {
    position: relative;
    left: 2px;
    top: 6px;
    z-index: 20;
    transform: scale(1, 1);
    transition: transform .8s ease-out;

}
.iconsMainMenu{

   display: inline-block;
}
.mainMenu md-icon{
    color: white;
    font-size: 30px;
}

.social{
    position: absolute;
    top:28px;
    left: 16px;
    transform: scale(1, 1);
    transition: transform .8s ease-out;

}
.socialIcons{

   display: inline-block;
   left: 2px;
}
.social md-icon{
   color: white;
}
.social.hide{
    transform: scale(0, 0);
    transition: transform .1s ease-out;
}

.searchFM.hide{
    transform: scale(0, 0);
    transition: transform .1s ease-out;
}
.mainMenu.hide {
    transform: scale(0, 0);
    transition: transform .1s ease-out;
}
.main-fab.hide {
    transform: scale(0, 0);
    transition: transform .1s ease-out;
}

/* Lines of code below are just here to get a better aspect but optionnal */

section {
    height: 1600px;
}
i {
    font-size: 24px;
}
.md-tools {
    width: 40px;
}
.muted {
    color: #bbb;
    font-size: inherit;
    font-weight: 700;
    text-align: left;
}
.md-tile-left {
    margin-right: 0!important;
    padding-left: 24px;
    color: rgb(63, 81, 181);
}
[md-header-picture] {
    position: relative;
    width: 100%;
    height: 0%;
    /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 25%;
    overflow: hidden;
    background-size: 160%;
    /* You can override this value if your picture has a weird ratio */
    background-position: 50% 50%;
}
[scroll] {
    position: fixed;
    top: 0;
    overflow: hidden;
}

/* I made a simple scale animation on float action button during scroll */

.main-fab {
    position: absolute;
    left: calc(100% - 90px);
    z-index: 20;
    transform: scale(1, 1);
    transition: transform .5s ease-out;
}



/* Lines of code below are just here to get a better aspect but optionnal */

section {
    height: 1600px;
}
i {
    font-size: 24px;
}
.md-tools {
    width: 40px;
}
.muted {
    color: #bbb;
    font-size: inherit;
    font-weight: 700;
    text-align: left;
}
.md-tile-left {
    margin-right: 0!important;
    padding-left: 24px;
    color: rgb(63, 81, 181);
}
.md-large {
    height: 200px;
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.userPicture {
    margin-left: 15px;
    margin-top: 15px;
}
.z1 {
    z-index: -34;
}
.md-sideNavPicture {
    margin: 0;
    padding: 0;
    width: 304.2px;
    height: 250px;
    position: absolute;
    z-index: -3;
}
.rent a {
    text-decoration-line: none;
    list-style: none;
}
.rent a {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
table td,
th {
    width: auto;
    height: 40px;
    box-shadow: 0px 2px 1px 0px black;
    margin: 2px;
    padding: 10px;
}
th {
    color: rgb(33, 150, 243);
}
.cmpnImg{
    position:fixed;
    width:100px;
    border-radius:50%;
    margin-top :10px;
    margin-left:10px;}

    .slide{
        height: 10%;

    }

    #mainPic {
       /* background: url("http://img.ev.mu/images/paysVol/222/1605x642/222.jpg") center center no-repeat;*/
       height: 348px;
   }

   #fixSmallNav {
      box-shadow: 1px 2px 9px black;
      position: fixed;
      top: 0;
      transition: top 1s linear;
  }
  .fixSmallNav {
      box-shadow: 1px 2px 9px black;
      position: fixed;
      top: 5;
      transition: top 1s linear;
  }

  .card .card-media {
      background-color: red; }





/*md-sidenav {
    background: #D93230;
    color: #fff;
    width: 270px
    }*/

    .nav-header {
        text-align: center;

    }

    .nav-header h1 {
        margin: 7px 0;
    }

    .nav-header img {
        margin-top:20px;
        margin-bottom:50px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }
    md-sidenav header {
        background:rgb(255, 214, 31);
        width: inherit;
    }

    .container md-card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin: 20px auto;
    }
    .color{
        color: rgb(255, 214, 31);
        background-color: rgb(255, 214, 31);

    }
    md-toolbar md-autocomplete{

        width: 30%;
        margin-top: 10px;
    }

    .vertical-divider {
      border-top-width: 0;
      border-right-width: 1px;
      border-right-style: solid;
      height: 100%;
  }

  .maps{
    width: inherit;
    height: 92px;
}

.Red{

    color:red;
}
.Green{

    color:#e63900;
}

.Orange{
    color:orange;
}

.Verde{
    color:green;
}
.Blue{
    color: #0039e6;
}
.noLink{
    text-decoration: none;
    color: black;
}

[bg]{
    background-color:#ebebe0;
}

footer.page-footer{
    margin-top:0px;
}