


<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row export-table">
        <div class="col-md-6 "  >

            <form  class="form-horizontal" name="atendimentoForm">
                <div class="panel panel-colorful">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>{{title}}</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#/" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>

                    <div class="panel-body form-group-separated  ">

                        <div class="form-group page-contact" ng-show="step == 1">
                            <label class="col-md-3 col-xs-12 control-label">Nome Completo</label>
                            <div class="col-md-6 col-xs-12">                                            

                                <md-input-container class="md-icon-float md-block">

                                    <label>Introduzir o nome Completo</label>
                                    <md-icon >person</md-icon>
                                    <input type="text" ng-model="atendimento.name" required name="name"  ng-minlength="3"  ng-pattern="string">
                                    <div ng-messages="atendimentoForm.name.$error">
                                        <div ng-message="required">
                                           Campo obrigatorio!
                                       </div>
                                       <div ng-message="minlength">
                                         O nome deve ter no minino 3 caracters
                                     </div>
                                     <div ng-message="pattern">
                                         O Nome deve ter Somente Letras!!!
                                     </div>
                                 </div>

                             </md-input-container>
                             <div class="panel-footer">

                                 <button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="atendimentoForm.name.$invalid">Proximo
                                    <md-icon>chevron_right</md-icon></button>
                                </div>

                            </div>

                        </div>


                        <div class="form-group  page-contact" ng-if="step == 2">                                        
                         <label class="col-md-3 col-xs-12 control-label">Sexo</label>
                         <div class="col-md-6 col-xs-12">

                            <md-input-container class="md-icon-float md-block">
                             <label>Selecionar Sexo</label>
                             <md-icon>wc</md-icon>
                             <md-select ng-model="atendimento.sexo" aria-label="sexo" required  name="sexo"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                                <md-select-label>Selecionar Sexo</md-select-label>
                                <md-option value="masculino" >Masculino</md-option>
                                <md-option value="feminino" >Feminino</md-option>
                            </md-select>
                            <div ng-messages="atendimentoForm.sexo.$error">
                                <div ng-message="required">
                                 Campo obrigatorio!
                             </div>
                         </div>

                     </md-input-container>
                     <div class="panel-footer">
                       <button class="md-button md-warn" ng-click="prevStep()" ng-disabled="atendimentoForm.sexo.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
                       <button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="atendimentoForm.sexo.$invalid">Proximo
                        <md-icon>chevron_right</md-icon></button>
                    </div>
                </div>
            </div>
            <div class="form-group page-contact" ng-if="step == 3">
                <label class="col-md-3 col-xs-12 control-label">Idade</label>
                <div class="col-md-6 col-xs-12">                                            

                    <md-input-container class="md-icon-float md-block">

                        <label>Introduzir idade</label>
                        <md-icon >cake</md-icon>
                        <input type="text" ng-model="atendimento.idade" required name="idade" ng-pattern="number" ng-minlength="2" md-maxlength="3">
                        <div ng-messages="atendimentoForm.idade.$error">
                            <div ng-message="required">
                             Campo obrigatorio!
                         </div>
                         <div ng-message="minlength">
                             A idade deve ter no minino 2 caracters
                         </div>
                         <div ng-message="md-maxlenght">
                             A  idade deve ter no maximo 2 caracteres
                         </div>
                         <div ng-message="pattern">
                           O idade deve ter Somente Numeros!!!
                       </div>
                   </div>
               </md-input-container>
               <div class="panel-footer">
                   <button class="md-button md-warn" ng-click="prevStep()" ng-disabled="atendimentoForm.idade.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
                   <button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="atendimentoForm.idade.$invalid">Proximo
                    <md-icon>chevron_right</md-icon></button>
                </div>


            </div>
        </div>
        <div class="form-group page-contact" ng-if="step == 4">
            <label class="col-md-3 col-xs-12 control-label">Morada</label>
            <div class="col-md-6 col-xs-12">                                            

                <md-input-container class="md-icon-float md-block">

                    <label>Introduzir Morada</label>
                    <md-icon >home</md-icon>
                    <input type="text" ng-model="atendimento.morada"  name="morada" required ng-pattern="string" ng-minlenght="3">
                    <div ng-messages="atendimentoForm.morada.$error">
                        <div ng-message="required">
                         Campo obrigatorio!
                     </div>
                     <div ng-message="minlength">
                         A morada deve ter no minino 3 caracters
                     </div>
                     <div ng-message="md-maxlenght">
                         A  idade deve ter no maximo 2 caracteres
                     </div>
                     <div ng-message="pattern">
                       A morada deve ter Somente Letras!!!
                   </div>
               </div>
           </md-input-container>
           <div class="panel-footer">
               <button class="md-button md-warn" ng-click="prevStep()" ng-disabled="atendimentoForm.morada.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
               <button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="atendimentoForm.morada.$invalid">Proximo
                <md-icon>chevron_right</md-icon></button>
            </div>


        </div>
    </div>
    <div class="form-group page-contact" ng-if="step == 5">
        <label class="col-md-3 col-xs-12 control-label">Assunto</label>
        <div class="col-md-6 col-xs-12">                                            

            <md-input-container class="md-icon-float md-block">

                <label>Introduzir Assunto</label>
                <md-icon >library_books</md-icon>
                <input type="text" ng-model="atendimento.assunto" required name="assunto" ng-pattern="string" ng-minlenght="3">
                <div ng-messages="atendimentoForm.assunto.$error">
                    <div ng-message="required">
                     Campo obrigatorio!
                 </div>
                 <div ng-message="minlength">
                     O assunto deve ter no minino 2 caracters
                 </div>
                 <div ng-message="pattern">
                   O assunto deve ter Somente texto!!!
               </div>
           </div>
       </md-input-container>
       <div class="panel-footer">
           <button class="md-button md-warn" ng-click="prevStep()" ng-disabled="atendimentoForm.assunto.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
           <button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="atendimentoForm.assunto.$invalid">Proximo
            <md-icon>chevron_right</md-icon></button>
        </div>

    </div>
</div>
<div class="form-group page-contact" ng-if="step == 6">
    <label class="col-md-3 col-xs-12 control-label">Confirmar</label>
    <div class="col-md-6 col-xs-12">                                            

        <md-input-container class="md-icon-float md-block">
            Todos os campos necessarios foram preenchidos...!!!! 
            Click CONFIRMAR para confirmar  ou CANCELAR  para modificar a ficha de atendimento
        </md-input-container>
        <div class="panel-footer">
           <button class="md-button md-warn" ng-click="prevStep()" ng-disabled="atendimentoForm.assunto.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
           <button class="md-button md-raised md-primary" ng-click="criarConta();" ng-disabled="definicoesConta.$invalid">Confirmar
            <md-icon>beenhere</md-icon>
            <md-tooltip>Confirmar</md-tooltip>
        </button>
    </div>

</div>
</div>
<!-- <div class="form-group">
    <label class="col-md-3 col-xs-12 control-label">Adendido Por</label>
    <div class="col-md-6 col-xs-12">                                            

        <md-input-container class="md-icon-float md-block">

            <label>Introduzir o nome do Atendedor</label>
            <md-icon >business</md-icon>
            <input type="text" ng-model="dep.name" required="">

        </md-input-container>


    </div>
</div> -->

</div>

</div>
</form>

</div>
<div class="col-md-6 "  id="export" >
   <div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><strong>Previsão</strong></h3>

    </div>
    <div layout-padding layout-margin>
        <span class="md-subhead"><h5 capitalize><strong><md-icon >person</md-icon>&nbsp Nome Completo:</strong>&nbsp{{atendimento.name}}</h5></span>
        <span class="md-subhead"><h5 capitalize><strong> <md-icon >wc</md-icon>&nbsp Sexo:</strong>&nbsp{{atendimento.sexo}}</h5></span>
        <span class="md-subhead"><h5 capitalize><strong> <md-icon >cake</md-icon>&nbsp Idade:</strong>&nbsp{{atendimento.idade}}</h5></span>
        <span class="md-subhead"><h5 capitalize><strong> <md-icon >home</md-icon>&nbsp Morada:</strong>&nbsp{{atendimento.morada}}</h5></span>
        <span class="md-subhead"><h5 capitalize><strong> <md-icon >library_books</md-icon>&nbsp Assunto:</strong>&nbsp{{atendimento.assunto}}</h5></span>
        <span class="md-subhead" ng-controller="adminCtrl as admin"><h5 capitalize ><strong><md-icon >perm_identity</md-icon>&nbsp Atendido por:</strong>&nbsp{{admin.user.name}}</h5></span>
    </div>
    <a href="javascript:genPDF()">criar</a>
</div>
</div>
</div>                    

</div>
<!-- END PAGE CONTENT WRAPPER -->   

