<style>
    md-card{
        padding: 40px;
        width: 550px;
        background-color: #F7F7F7;
        margin: 0 auto 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    legend{
        margin-left: 200px;
        padding-left: 10px;
        top: 40px;
        background-color: rgba(3,169,244,0.9); 
        color: white;
        padding-top: 5px;


    }

    legend i{
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 10px;

    }
    md-card-title{

        z-index: 1;
        border-left: 3px solid rgb(3,169,244);
        margin: 0 0 15px;
        padding: 10px 0 10px 50px;
        color: rgb(3,169,244);
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    input[type="file"]{
        border: none;
    }

</style>

<md-cmpn-nav-bar>


 </md-cmpn-nav-bar
 <br><br>

 <div ng-cloak layout-align="center center"  layout-padding layout-wrap layout="column">
    <md-card>
        <md-card-title>{{conta.title}}!!</md-card-title>


        <fieldset ng-if="step == 1">
            <legend class="md-whiteframe-z1"><i class="material-icons">group</i>Dados Pessoais</legend>
            <form name="dadosPessoais">
                <md-input-container class="md-icon-float md-block">
                    <md-icon>assignment_ind</md-icon>
                    <label>Nome</label>
                    <input type="text" ng-model="conta.name" name="name" required  ng-minlength="3"  ng-pattern="string">
                    <div ng-messages="dadosPessoais.name.$error">
                        <div ng-message="required">
                         Campo obrigatorio!
                     </div>
                     <div ng-message="minlength">
                       O nome deve ter no minino 3 caracters
                   </div>
                   <div ng-message="pattern">
                       O Nome deve ter Somente Letras!!!
                   </div>
               </div>
           </md-input-container>
           <md-input-container class="md-icon-float md-block">
            <md-icon>assignment_ind</md-icon>
            <label>Apelido</label>
            <input type="text" ng-model="conta.apelido" name="apelido" ng-minlength="3" ng-pattern="string" required>
            <div ng-messages="dadosPessoais.apelido.$error">
                <div ng-message="required">
                 Campo obrigatorio!
             </div>
             <div ng-message="minlength">
                 O Apelido deve ter no minino 3 caracters
             </div>
             <div ng-message="pattern">
                 O Apelido deve ter Somente Letras!!!
             </div>

         </div>

     </md-input-container>

     <md-input-container class="md-block">
        <label>Data Nascimendo</label>
        <md-datepicker 
        ng-model="conta.data" 
        required  name="data" md-no-asterisk>


    </md-datepicker>
    <div ng-messages="dadosPessoais.data.$error">
        <div ng-message="required">
           Campo obrigatorio!
       </div>
   </div>
</md-input-container>


</form>
<button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="dadosPessoais.$invalid">Proximo
    <md-icon>chevron_right</md-icon></button>

</fieldset>
<fieldset ng-if="step == 2">
    <legend class="md-whiteframe-z1"><i class="material-icons">contacts</i>Morada e Contactos</legend>
    <form name="moradaCont">
        <md-input-container class="md-icon-float md-block">
            <md-icon>store_mall_directory</md-icon>
            <label>Morada</label>
            <input type="text" ng-model="conta.morada" name="morada" ng-pattern="string" ng-minlength="3" required>
            <div ng-messages="moradaCont.morada.$error">
                <div ng-message="required">
                 Campo obrigatorio!
             </div>
             <div ng-message="minlength">
                 A Morada deve ter no minino 3 caracters
             </div>
             <div ng-message="pattern">
                A Morada deve ter Somente Letras!!!
            </div>

        </div>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <md-icon>phone</md-icon>
        <label>Telefone</label>
        <input type="text" ng-model="conta.telefone" name="telefone" ng-pattern="number">
        <div ng-messages="moradaCont.telefone.$error">
         <div ng-message="pattern">
             Somente Numeros!!!
         </div>
     </div>


 </md-input-container>
 <md-input-container class="md-icon-float md-block">
    <md-icon>tap_and_play</md-icon>
    <label>Movel</label>
    <input type="text" ng-model="conta.movel" name="movel" ng-pattern="mobile">
    <div ng-messages="moradaCont.telefone.$error">
     <div ng-message="pattern">
         Somente Numeros!!!
     </div>
     <div class="hint" ng-if="showHints">###-##-####</div>
 </div>

</md-input-container>
</form>
<button class="md-button md-warn" ng-click="prevStep()" ng-disabled="moradaCont.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
<button class="md-button md-raised md-primary" ng-click="nextStep()" ng-disabled="moradaCont.$invalid">Proximo  <md-icon>chevron_right</md-icon></button>
</fieldset>
<fieldset ng-if="step == 3">
    <legend class="md-whiteframe-z1"><i class="material-icons">email</i>Definições de Conta</legend>
    <form name="definicoesConta">
        <md-input-container class="md-icon-float md-block">
            <md-icon>email</md-icon>
            <label>Email</label>
            <input required type="email" name="clientEmail" ng-model="conta.email"
            maxlength="100" ng-pattern="/^.+@.+\..+$/" />

            <div ng-messages="definicoesContaclientEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
               Introduza um email valido!!! Ex. user@domain.com
           </div>
       </div>
   </md-input-container>
   <md-input-container class="md-icon-float md-block">
    <md-icon>email</md-icon>
    <label>Confirmar Email</label>
    <input type="text" ng-model="conta.email2" required>
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <md-icon>vpn_key</md-icon>
    <label>Senha</label>
    <input type="text" ng-model="conta.password" required>
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <md-icon>vpn_key</md-icon>
    <label>Confirmar Senha</label>
    <input type="text" ng-model="conta.password2" required>
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <md-checkbox ng-checked="" ng-click="" style="float:right;margin-right:30px;">
        Concordo
    </md-checkbox></md-input-container>
</form>

<button class="md-button md-warn" ng-click="prevStep()" ng-disabled="definicoesConta.$valid">  <md-icon>chevron_left</md-icon>Anterior</button>
<button class="md-button md-raised md-primary" ng-click="criarConta();" ng-disabled="definicoesConta.$invalid">Criar Conta
    <md-icon>beenhere</md-icon>
    <md-tooltip>Criar Conta</md-tooltip>
</button>
</fieldset>

</md-card>
</div>