<md-dialog aria-label="login" style="width:400px">
  <form >

    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Login">
          <md-content class="md-padding" layout-padding>

            <form >
              <div>
                <md-input-container class="md-block" layout-padding >

                  <md-icon>email</md-icon>
                  <input type="email" ng-required="true" placeholder="Email">
                </md-input-container>
                <md-input-container>
                  <md-icon>vpn_key</md-icon>
                  <input type="password" placeholder="senha">
                </md-input-container>
                <md-card-actions layout layout-align="start center">
                  <md-button type=submit class="md-raised md-primary" name="acao">Login</md-button>
                  <md-button  href="criarConta.php" type="button" class="md-raised " name="acao">Criar Conta</md-button>

                </md-card-actions>
              </div>
            </form>
          </md-content>

        </md-dialog-content>
      </form>
    </md-dialog>
<!-- <md-dialog aria-label="login" style="width:50%">
<form>
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Login / Signup</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon class="material-icons" aria-label="Close dialog">ic_close</md-icon>
    </md-button>
  </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
  <md-input-container class="" >
  <label for="input_0">Email</label>
  <input type="text" ng-required="ng-required" ng-model="mail" class="ng-pristine md-input ng-valid ng-valid-required ng-touched" id="input_0" aria-required="false" aria-invalid="false" name="mail">
  </md-input-container>
  <md-input-container class="" style="height: auto;">
  <label for="input_1">Password</label>
  <input type="password" pang-required="ng-required" ng-model="password" class="ng-pristine md-input ng-valid ng-valid-required ng-touched" id="input_1" aria-multiline="true" aria-required="false" aria-invalid="false" name="senha">
  </md-input-container>
  <md-card-actions layout layout-align="end center">
  <md-button type=submit class="md-raised md-primary login" name="acao">Login</md-button>
  <md-button class="md-button md-raised">Signup</md-button>
  </md-card-actions>
  </md-dialog-content>
</form>
</md-dialog>
-->
`