     <!--Footer-->
     <footer class="page-footer center-on-small-only" >

      <!--Footer Links-->
      <div class="container-fluid">
        <div class="row">

          <!--First column-->
          <div class="col-md-3  col-md-offset-1">
           <div layout="column" flex="30" flex-sm="100" flex-xs="100" flex-lg="100" layout-align="center center">
             <md-list >
              <md-list-item class="md-6-line">
                <img ng-src="img/kid.jpg" class="avatar md-whiteframe-z1" alt="design" layout-margin>
                <div class="md-list-item-text">
                  <h5>Desenvolvido por:<h6>Kidiatoliny Gonçalves</h6></h5>
                  <h5> © 2016 </h5>


                </div>


              </md-list-item>
              <div layout="row" flex="40" flex-sm="100" flex-xs="100" flex-lg="100">
                <div ng-repeat="social in social" >
                  <md-button class="md-icon-button"><md-icon class=" {{social.icon}}" style="color:white"></md-icon>
                    <md-tooltip md-visible="false" md-delay="200" md-direction="bottom" md-autohide="true">
                      {{social.name}}
                    </md-tooltip>
                  </md-button>


                </div>
              </div>
            </div> 

          </div>
          <!--/.First column-->

          <hr class="hidden-md-up">

          <!--Second column-->
          <div class="col-md-2 col-md-offset-1">
            <h5 class="title">{{links}}</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
          <!--/.Second column-->

          <hr class="hidden-md-up">

          <!--Third column-->
          <div class="col-md-2">
            <h5 class="title">{{links}}</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
          <!--/.Third column-->

          <hr class="hidden-md-up">

          <!--Fourth column-->
          <div class="col-md-2">
            <h5 class="title">{{links}}</h5>
            <ul>
              <li><a href="#!">Link 1</a></li>
              <li><a href="#!">Link 2</a></li>
              <li><a href="#!">Link 3</a></li>
              <li><a href="#!">Link 4</a></li>
            </ul>
          </div>
          <!--/.Fourth column-->

        </div>
      </div>
      <!--/.Footer Links-->



      <!--Call to action-->
      <div class="call-to-action">
        <h4>{{title}}</h4>
        <ul>
          <li>
           <!--  <h5>Get our UI KIT for free</h5></li> -->
           <li><a target="_blank" href="#" class="md-button md-primary md-raised"><md-icon>assignment_ind</md-icon>Criar Conta!</a></li>
           <li><a target="_blank" href="#" class="md-button md-warn md-raised"><md-icon>assignment</md-icon>Ler Mais</a></li>
         </ul>
       </div>
       <!--/.Call to action-->

       <!--Copyright-->
       <div class="footer-copyright">
        <div class="container-fluid">
          © 2016 Copyright: <a href="http://www.facebook.com"> {{title}} </a>

        </div>
      </div>
      <!--/.Copyright-->

    </footer>