    <div class="row ">
    	<h1  align="center">{{title}}</h1>
    	<div class="col s12 m5 l6">
        <form class="col s12 ">
          <div class="row">
            <div class="input-field col s6 l12">
              <i class="material-icons prefix">person</i>
              <input id="icon_person" type="text" class="validate">
              <label for="icon_person">Nome Completo </label>
            </div>
            <div class="input-field col s6 l12">
              <i class="material-icons prefix">phone</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Contato</label>
            </div>
            <div class="input-field col s6 l12">
              <i class="material-icons prefix">cake</i>
              <input id="icon_cake" type="tel" class="validate">
              <label for="icon_cake">Idade</label>
            </div>
            <div class="input-field col s6 l12">
              <i class="material-icons prefix">home</i>
              <input id="icon_home" type="tel" class="validate">
              <label for="icon_home">Morada</label>
            </div>
            <div class="input-field col s6 l12">
              <i class="material-icons prefix">library_books</i>
              <input id="icon_library_books" type="tel" class="validate">
              <label for="icon_library_books">Assunto</label>
            </div>

          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">wc</i>
            <select>
             <!--          <option value="" disabled selected>Sexo</option> -->
             <option value="1">Masculino</option>
             <option value="2">Feminino</option>

           </select>
           <label>Escolher  Sexo</label>
         </div>
         <a href="#/accao" class="btn red waves-effect waves-light  col l5 m10 s12 offset-l1"><i class="material-icons right">history</i>Cancelar</a>
         <button class="btn blue waves-effect waves-light  col l5 m10 s12 offset-l1"><i class="material-icons right">done_all</i>Criar</a></button>
       </form>
     </div>


     <div class="col s12 m5 l6">
      <div class="card-panel blue lighten-2">
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
      </div>
    </div>



  </div>

  <script>

    $(document).ready(function() {
      $('select').material_select();
    });

  </script>

