
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

  <div class="row">
    <div class=" col-md-12" id="f1">

      <form class="form-horizontal"  name="eventoForm" ng-class="{valid:eventoForm.$valid}">
        <div class="panel panel-colorful">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Criar Evento ou Atividade</strong></h3>
            <ul class="panel-controls">
              <li><a href="#/" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
          </div>

          <div class="panel-body form-group-separated">

            <div class="form-group">
              <label class="col-md-3 col-xs-12 control-label">Titulo</label>
              <div class="col-md-6 col-xs-12">                                            


                <md-input-container class="md-icon-float md-block" >
                  <label>Introduzir titulo</label>
                  <md-icon >subtitles</md-icon>
                  <input ng-model="Evento.titulo" required name="titulo" id="titulo">

                </md-input-container>


              </div>
            </div>


            <div class="form-group">                                        
              <label class="col-md-3 col-xs-12 control-label">Local</label>
              <div class="col-md-6 col-xs-12">



                <md-input-container class="md-icon-float md-block">
                  <label>Introduzir Local</label>
                  <md-icon >store</md-icon>
                  <input ng-model="Evento.local" ng-required="true">
                </md-input-container>
              </div>
            </div>  
            <div class="form-group">                                        
              <label class="col-md-3 col-xs-12 control-label">Autor</label>
              <div class="col-md-6 col-xs-12">


                <md-input-container class="md-icon-float md-block">
                  <label>Introduzir o nome do Autor</label>
                  <md-icon >account_box</md-icon>
                  <input ng-model="Evento.autor" type="textarea" ng-required="true">
                </md-input-container>
              </div>
            </div>
            <div class="form-group">                                        
              <label class="col-md-3 col-xs-12 control-label">Descriçao</label>
              <div class="col-md-6 col-xs-12">

                <md-input-container class="md-icon-float md-block">
                  <label>Faz uma Descricao do evento ou atividade</label>
                  <md-icon >description</md-icon>
                  <input ng-model="Evento.descricao"  type="textarea" ng-required="true">
                </md-input-container>
              </div>
            </div>  
            <div class="form-group">                                        
              <label class="col-md-3 col-xs-12 control-label">Tipo</label>
              <div class="col-md-6 col-xs-12">
                <md-input-container class="md-icon-float md-block">

                  <md-icon >developer_board</md-icon><span>&nbsp</span>
                  <md-select ng-model="Evento.tipo" width="200" placeholder="Tipo de Evento" class="select" ng-required="true">
                    <md-option  value="evento">Evento</md-option>
                    <md-option  value="atividade">Atividade</md-option>

                  </md-select>
                </md-input-container>
              </div>
            </div>  
            <div class="form-group">                                        
              <label class="col-md-3 col-xs-12 control-label">Data </label>
              <div class="col-md-6 col-xs-12">

                <md-input-container class="md-icon-float md-block">
                  <label>Data Evento</label>
                  <md-icon >insert_invitation</md-icon>
                  <input ng-model="Evento.data" ng-required="true" type="Date">
                </md-input-container>
                
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn-sucess" type="reset"><i class="fa fa-eraser"></i>Reset</button>                                    
            <button class="btn md-raised btn-primary md-primary " ng-disabled="eventoForm.$invalid" ng-click="guardarEvento()"><i class="fa fa-save"></i>Guardar</button>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-4">
     <div class="panel panel-colorful">

      <md-card  class="md-whiteframe-z4 break" ng-if="eventoForm.titulo.$valid" style="box-shadow:none; background-color:transparent">
       <md-card-actions layout layout-align="center center" layout-padding style="z-index:1" >
        <md-list layout-padding>
          <md-list-item class="md-6-line">

           `           <md-card-title layout-padding layout-margin>
           <md-card-title-text><span class="md-headline"><strong>Previsualização</strong></span><br>

           </md-card-title-text>
         </md-card-title>
       </md-list-item>
     </md-list>
   </md-card-actions>
   <md-card-title layout-padding layout-margin layout-align="center center">
    <md-card-title-text>
      <h3>Titulo</h3><span class="md-headline">{{Evento.titulo| uppercase}}</span>

      <span class="md-subhead"><h5 capitalize><strong>Local:</strong>&nbsp{{Evento.local}}</h5></span>
      <span class="md-subhead"><strong>Data</strong>&nbsp{{Evento.data | date:'dd/MM/yyyy'}}&nbsp</span>

    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between">
    <div class="md-media-xl card-media">
      <img src="../img/cmpn.jpg" style="width:100%;height:40%;">
    </div>
    <md-card-content>

      <p >{{Evento.descricao}}</p>

    </md-card-content>
    <md-card-actions layout="row" layout-align="end end">
      <span>Criado por: &nbsp{{Evento.autor | uppercase}}</span>
    </md-card-actions>
  </md-card-content>

</md-card>
</div>
</div>                    

</div>
<!-- END PAGE CONTENT WRAPPER -->   
